.circle {
  height: 15px;
  border: 1px solid;
  /* border-color: rgba(145, 48, 234, 1); */
  /* background-image: linear-gradient(green, blue); */

  border-radius: 50%;
  width: 15px;
  background-color: black;
  color: white;
  margin: auto;
}
hr {
  background: linear-gradient(
    89.01deg,
    #3086ea -6.62%,
    #3086ea 52.05%,
    #5032c1 104.91%
  );
  border: 0;
  width: 46%;
  height: 2px;
  margin: auto;
}
.rectangle {
  background: linear-gradient(
    94.6deg,
    rgba(58, 51, 72, 0.5) 0.36%,
    rgba(40, 34, 50, 0.43) 20.13%,
    rgba(51, 44, 64, 0.35) 39.85%,
    rgba(50, 39, 71, 0.322222) 50.23%,
    rgba(47, 35, 67, 0.3) 58.54%,
    rgba(55, 41, 79, 0.37) 79.81%,
    rgba(41, 27, 66, 0.47) 100%
  );
  box-shadow: 0px 4px 40px -1px #000000;
  max-width: 1096px;
  border: 3px solid transparent;

  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  border-image-source: linear-gradient(94.83deg, #9c3ad9 0%, #f76e64 100%);
  border-image-slice: 1;
  margin-bottom: 30px;
  backdrop-filter: blur(60px);
  padding: 2.5rem 3rem;
}

.gap {
  gap: 42%;
}
.time {
  color: linear-gradient(
    89.01deg,
    #9130ea -6.62%,
    #cb6497 52.05%,
    #ff715b 104.91%
  );
}

/* .announcement {
  margin-left: 50%;
} */

@media screen and (max-width: 768px) {
  .rectangle {
    font-size: 0.70rem;
    padding: 1rem;
  }
}

