@tailwind base;
/* Base CSS here */

@tailwind components;
/* Component CSS here */

@tailwind utilities;
/* Util level CSS here */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html {
  /* font-family: "Montserrat", sans-serif; */
  background-color: #05000b;
  cursor:none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* ------------Custom Scrollbar------------- */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #37006d; */
  background: linear-gradient(
    to top,
    rgb(251, 113, 133),
    rgb(217, 70, 239),
    rgb(99, 102, 241)
  );
  border-radius: 100vh;
  /* border: 3px solid #edf2f7; */
}

.gradient-border {
border-image-source: linear-gradient(94.83deg, #9c3ad9 0%, #f76e64 100%);
  border-image-slice: 1;
}
/* ---------------------------------------- */

.menuitem {
  position: relative;
  display: inline-block;
  height: 32px;
  text-align: center;
  cursor: pointer;
  /* margin: 0 1rem !important; */
}

.menuitem span {
  position: absolute;
  bottom: 0;
  left: -15px;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--gradient);
  transition: all 0.6s;
  margin-left: 1rem;
}

.menuitem:hover span {
  width: 60%;
}
